
<!DOCTYPE html>
<html lang="pt-br">
{% extends 'layout.html' %}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assistente de Engenharia</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #010338;
        }
        .teste {
            background-color: pink;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <div class="teste">

    </div>
</body>
</html>

